%h1 Editing #{@admin_fixture.home_club} Fixture

= form_tag upload_skeleton_start_sheet_admin_fixture_url(fixture_id: @admin_fixture.id), multipart: true do
  = label_tag "Skeleton Start Sheet"
  = file_field_tag :file
  = submit_tag "Upload Skeleton Start Sheet"
%hr
= form_tag upload_start_sheet_admin_fixture_url(fixture_id: @admin_fixture.id), multipart: true do
  = label_tag "Start Sheet"
  = file_field_tag :file
  = submit_tag "Upload Start Sheet"
%hr
= form_tag upload_team_overall_admin_fixture_url(fixture_id: @admin_fixture.id), multipart: true do
  = label_tag "Team Overall"
  = file_field_tag :file
  = submit_tag "Upload Team Overall"

%hr
= form_tag upload_person_overall_admin_fixture_url(fixture_id: @admin_fixture.id), multipart: true do
  = label_tag "Person Overall"
  = file_field_tag :file
  = submit_tag "Upload Person Overall"
%hr

= render 'form'

= link_to 'Back', admin_fixtures_path
