%h1 Listing Fixtures

%p
  Theres are #{@admin_fixtures.count} fixtures registered
= form_tag import_admin_fixtures_path, multipart: true do
  = label_tag "Upload Fixtures"
  = file_field_tag :file
  = submit_tag "Import Fixtures CSV"

%table
  %thead
    %tr
      %th Zone
      %th Zone name
      %th Home club
      %th Start time
      %th Bye teams
      %th Start sheet skeleton
      %th Start sheet official
      %th Team results
      %th Player results
      %th Download start sheets
      -#%th
      %th
      -#%th

  %tbody
    - @admin_fixtures.each do |admin_fixture|
      %tr
        %td= admin_fixture.zone_id
        %td= admin_fixture.zone_name
        %td= admin_fixture.home_club
        %td= admin_fixture.start_time.strftime("%e-%b, %H:%I")
        %td= admin_fixture.bye_teams
        %td= link_to "Skeleton Start Sheet", admin_fixture.start_sheet_skeleton, target: "_blank" if admin_fixture.start_sheet_skeleton.present?
        %td= link_to "Official Start Sheet", admin_fixture.start_sheet_official, target: "_blank" if admin_fixture.start_sheet_official.present?
        %td= link_to "Team Overall", admin_fixture.team_overall, target: "_blank" if admin_fixture.team_overall.present?
        %td= link_to "Person Overall", admin_fixture.person_overall, target: "_blank" if admin_fixture.person_overall.present?
        %td= link_to "Download Team Sheets", admin_fixture_get_fixture_teamsheet_path(admin_fixture)
        -#%td= link_to 'Show', admin_fixture_path(admin_fixture)
        %td= link_to 'Edit', edit_admin_fixture_path(admin_fixture)
        -#%td= link_to 'Destroy', admin_fixture_path(admin_fixture), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Fixture', new_admin_fixture_path
