%main.rules-main
  %h1.rules-title Finals Day
  %section.finals
    %p
      NERGA competitions for Rabbits and Inters culminate in the Grand Finals held in October each year. The best individual players from each club will battle it out for the Individual Championships and the top two teams in each zone will compete for the two Team Championships.
    -# %img.sponsors-logo{alt: "2019 Finals", src: "/2019/ramside.jpg"}/
    %p
      For 2023, the Finals day arrangements are:
      %br/
      Rabbits Finals day at
      %strong
        Romanby GC
      %strong
        Sunday 1st Oct
        starting at
      %strong
        10:00
      %br/
      Inter Finals day at
      %strong
        Ramside Hall (Cathedral course)
      / on
      %strong
        Sunday 8th October
        starting at
      %strong
        08:30
    %p
      = #link_to "General Information", asset_path("/GeneralInfo2023.pdf"), target: :_blank
      %br/
      =# link_to "Inter Start Sheet", asset_path("/2023-Finals-Day-Inter-Start-Sheet-Final-V2.pdf"), target: :_blank
      %br/
      = #link_to "Rabbits Final Start sheet", asset_path("/2023-Finals-Day-Rabbits-Final.pdf"), target: :_blank
    %h4
      Inter Results 2023
    %br/
    = link_to "Results Inter Individual", asset_path("/2023Inter-Team-Result.pdf"), target: :_blank
    %br/
    = link_to "Results Inter Team", asset_path("/2023Inter-Individual-Result.pdf"), target: :_blank
    %br/
    = link_to "Photos", "https://www.dropbox.com/scl/fo/mxzingzr0vz5ffqnzez9m/h?rlkey=0rg181pagmacur56vfi4bteis&dl=0", target: :_blank
    %br/
    %h4
      Rabbits Results 2023
    %br/
    = link_to "Results Rabbits Individual", asset_path("/2023-Rabbits-Individual-Result.pdf"), target: :_blank
    %br/
    = link_to "Results Rabbits Team ", asset_path("/2023-Rabbits-Team-Result.pdf"), target: :_blank
    %br/
    = link_to "Photos", "https://www.dropbox.com/scl/fo/07f6e3hy3rsaxaqy36las/h?rlkey=yq8vz1cknfmqfcn878cd9at82&dl=0", target: :_blank
