%main.rules-main
  %h1.rules-title Guidance
  %section.finals
    =p
    = link_to "How to complete a scorecard", asset_path("/guidance/How to complete a Scorecard v4.pdf"), target: :_blank
    %br/
    = link_to "Handicap ranges for 2022", asset_path("/guidance/Handicap ranges for 2022 v2.pdf"), target: :_blank
    %br/
    = link_to "How to log in to register players", asset_path("/guidance/How to log in to Register Players v1.pdf"), target: :_blank
    %br/
    = link_to "How to register players", asset_path("/guidance/How to Register Players v2.pdf"), target: :_blank
    %br/
    = link_to "How to check a scorecard", asset_path("/guidance/Checking Scorecards v1.pdf"), target: :_blank
    %br/
    = link_to "How to calculate 95% Competition Handicap", asset_path("/guidance/Handicap - 95 percent Calculation.pdf"), target: :_blank