%h1 Players#index
%p
  Theres are #{@players.count} players registered
= form_tag import_admin_players_path, multipart: true do
  = file_field_tag :file
  = submit_tag "Import CSV"

%h2 Players not linked to clubs
%table
  %thead
    %tr
      %th First name
      %th Surname
      %th Club

  %tbody
    - @issues.each do |player|
      %tr
        %td= player.first_name
        %td= player.surname
        %td= player.home_club

%br
