= form_for @admin_zone, url: admin_zone_path(@admin_zone) do |f|
  - if @admin_zone.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_zone.errors.count, "error")} prohibited this admin_zone from being saved:"
      %ul
        - @admin_zone.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = @admin_zone.name
  .field
    = f.label :league
    = @admin_zone.league
  .field
    = f.label :rep
    = f.text_field :rep
  .field
    = f.label :rep_club
    = f.text_field :rep_club
  .field
    = f.label :team_overall_url
    = @admin_zone.team_overall_url
  .field
    = f.label :person_overall_url
    = @admin_zone.person_overall_url
    -#= f.text_field :person_overall_url
  .field
    = hidden_field_tag "zone[club_ids][]", nil
    - Club.all.order("name asc").each do |club|
      %br
      = check_box_tag "zone[club_ids][]", club.id, @admin_zone.club_ids.include?(club.id), id: dom_id(club)
      = label_tag dom_id(club), club.name
  .actions
    = f.submit 'Save'
