%h1 Editing #{@admin_zone.name} Zone

%hr
= form_tag upload_team_overall_admin_zone_url(zone_id: @admin_zone.id), multipart: true do
  = label_tag "Team Overall"
  = file_field_tag :file
  = submit_tag "Upload Team Overall"

%hr
= form_tag upload_person_overall_admin_zone_url(zone_id: @admin_zone.id), multipart: true do
  = label_tag "Players Overall"
  = file_field_tag :file
  = submit_tag "Upload Players Overall"

= render 'form'

= link_to 'Show', admin_zone_path(@admin_zone)
\|
= link_to 'Back', admin_zones_path
