= form_for @admin_club, url: admin_club_path(@admin_club) do |f|
  - if @admin_club.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_club.errors.count, "error")} prohibited this admin_club from being saved:"
      %ul
        - @admin_club.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :postcode
    = f.text_field :postcode
  .field
    = f.label :website
    = f.text_field :website
  .field
    = hidden_field_tag "club[zone_ids][]", nil
    - Zone.all.order("name asc").each do |zone|
      = check_box_tag "club[zone_ids][]", zone.id, @admin_club.zone_ids.include?(zone.id), id: dom_id(zone)
      = label_tag dom_id(zone), zone.name
  %br/
  .actions
    = f.submit 'Save'
