%h1 Listing Clubs

%p
  Theres are #{@admin_clubs.count} clubs registered
= form_tag import_admin_clubs_path, multipart: true do
  = file_field_tag :file
  = submit_tag "Import CSV"


%table
  %thead
    %tr
      %th Name
      %th Postcode
      %th Membership
      %th Website
      -#%th
      %th
      %th

  %tbody
    - @admin_clubs.each do |admin_club|
      %tr
        %td= admin_club.name
        %td= admin_club.postcode
        %td= admin_club.zones.map(&:name)
        %td= link_to admin_club.website, admin_club.website, target: "_blank"
        -#%td= link_to 'Show', admin_club_path(admin_club)
        %td= link_to 'Edit', edit_admin_club_path(admin_club)
        %td= link_to 'Destroy', admin_club_path(admin_club), method: :delete, data: { confirm: 'Are you sure?' }

%br

