%section.fixture
  %h2.venue= "Venue - #{fixture.home_club}"
  %h3.start-time= "Start time - #{fixture.start_time.strftime("%a %d %b ")} - #{fixture.start_time.strftime("%H:%M%p")}"
  %p= "None-playing Teams -  #{fixture.bye_teams}"
  - if fixture.start_sheet_skeleton.present? && fixture.start_sheet_official.nil?
    = link_to "Start Sheet Skeleton", fixture.start_sheet_skeleton, :class => "pure-button fuller-button blue fixture-button", target: "_blank"
  - if fixture.start_sheet_official.present?
    = link_to "Start Sheet", fixture.start_sheet_official, :class => "pure-button fuller-button blue fixture-button", target: "_blank"
  - if fixture.team_overall.present?
    = link_to "Team Overall", fixture.team_overall, :class => "pure-button fuller-button blue fixture-button", target: "_blank"
  - if fixture.person_overall.present?
    = link_to "Individual Overall", fixture.person_overall, :class => "pure-button fuller-button blue fixture-button", target: "_blank"
